@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Asap", sans-serif;
}
body html{
    width: 100%;
    height: 100%;
}
.container{
    height: 100vh;
    width: 100%;
    background-color: #22262a;
   
}
.box-container{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.vertical{
    height: 95%;
    width: 20%;
    background-color: #e5e9e6;
    padding-top: 10px;
    padding-left: 10px;

}
.add-new{
    display: flex;
    
    gap: 3px;
    color: rgb(29, 29, 226);
    
}
.leo-line h4{
    font-size: 20px;
    border-bottom: 1px solid black;
    padding: 10px 0;
    width: 90%;
}
.option-bar{
    border-bottom: 1px solid black;
    width: 90%;
   padding-bottom: 10px;
}
.section-control{
    display: flex;
    gap: 3px;
    padding: 8px 0;
    margin-top: 10px;
    transition: 1s ease-in-out;
    padding-left: 8px;
   
}
.section-control:hover{
    background-color: black;
    color: white;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}



.dc-box{

    display: flex;
    justify-content: center;
    margin-top: 10px;
    
}
.dc-container{
    height: 300px;
    width: 250px;
    background-color: white;
    padding: 5px 10px;
    border-radius: 20px;
 
}
.dc-content{
    margin-top: 5px;
    border-bottom: 1px solid rgb(100, 97, 97);
}
.dc-content h3{
    font-size: 14px;
    font-weight: 400;
    color: blue;
    text-align: center;
}
.head p{
    font-size: 13px;
 padding: 7px 0;
}
.celsius{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.head h2{
    font-size: 30px;
    font-weight: 500;
}
.temp{
    margin-right: 10px;
    font-size: 30px;
}
.weekly{
  
}
.week-control{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;
    font-weight: bold;
}
.horzental{
    height: 95%;
    width: 65%;
    background-color: rgb(252, 252, 252);
    padding: 10px 20px;

}


nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    margin-top: 15px;

}
nav ul{
    display: flex;
    list-style: none;
    gap: 20px;
    
}
nav ul li{
    border:1px solid black;
    border-radius: 50px;
    padding: 5px 10px;
}
 .right i{
 font-size: 35px;


}
.Temperature-container{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    border-bottom: 1px solid rgb(69, 65, 65);
    padding: 20px 10px;

 
}
.temp-box1{
    height: 150px;
    width: 300px;
    background-color: rgb(130, 185, 104);
    border-radius: 30px;
    padding:10px;
  
}
.temp-box2{
    height: 150px;
    width: 300px;
    background-color: rgb(94, 183, 201);
    border-radius: 30px;
    padding:10px;
  
}
.temp-box3{
    height: 150px;
    width: 300px;
    background-color: rgb(189, 193, 195);
    border-radius: 30px;
    padding:10px;
  
}

.temp-box1 .eye i{
    background-color: rgb(52, 153, 6);
}
.temp-box2 .eye i{
    background-color: rgb(11, 73, 144);
}
.temp-box3 .eye i{
    background-color: rgb(113, 117, 118);
}


.number-temp{
    display: flex;
    justify-content: space-between;
}
.maap-temp{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.number-temp h2{
    font-size: 30px;
}
.eye{
    margin-top: 15%;
    margin-right: 10%;
    font-size: 20px;
    
}
.eye i{
    
    padding: 10px;
    border-radius: 50%;
}


.function-container{
    height: 330px;
    width: 300px;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}
.light-box{
    height: 120px;
    width: 130px;
    background-color: firebrick;

    padding: 15px;
    background-color: black;
    color: white;
    border-radius: 20px;

}
.Light{
    width: 100%;
    display: flex;
    padding: 5px 10px;
    justify-content: space-between;
   
}

.Light h3{
    font-size: 25px;
}
.Light i{
   
    font-size: 25px;
}
.percentage{
    display: flex;
    justify-content: space-between;

}
.percentage h2{
    font-size: 20px;
   
}
.light-icon{
    padding: 8px;
    background-color:rgb(9, 180, 149);
    border-radius: 50%;

}
.sofa-light{
    margin-top: 15px;
}

.light-box-sofa{
    height: 120px;
    width: 130px;
    background-color: firebrick;
    
    padding: 15px;
    background-color: rgb(159, 152, 152);
    color: rgb(0, 0, 0);
    border-radius: 20px;
}
.light-box-sofa .light-icon{
    background-color: black;
    color: rgb(7, 158, 7);
}

.function-main-container{
    display: flex;
}
.other-system{
    height: 330px;
    width: 300px;
  
    padding: 2px 15px;

   

}
.vaccum-box{
    height: 130px;
    width: 100%;
    background-color: rgb(148, 142, 142);
    padding: 10px;
    border-radius: 20px;
 margin-top: 10px;

}

.smart-vaccum-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.vcu-week ul{
    padding-top: 10px;
    display: flex;
    justify-content: space-around;
    list-style: none;
    
}
.vcu-week ul li{
    font-size: 10px;
}
.vcu-week ul li a{
   text-decoration: none;
   color: black;
   text-align: center;

}

.vcu-week h3{
    font-size: 15px;
}

.living-Room{
    height: 130px;
    width: 100%;
    background-color: rgb(148, 142, 142);
    padding: 10px;
    border-radius: 20px;
 margin-top: 10px;


}
.living-head{
    display: flex;
    justify-content: space-between;
}
.up-down{
    margin-top: 10px;
}
.left{
    display: flex;
    justify-content: space-around;
    padding-top: 5px;
}
.right{
    display: flex;
    justify-content: space-around;
}
input{
    width: 200px;
  
}


.Air-conditioner{
   
    padding: 2px 15px;
}
.circul{
    height: 200px;
    width: 200px;
    border: 10px solid slateblue;
    background-color: slateblue;
   border-bottom:  10px solid rgb(18, 226, 136);
    border-radius: 50%;
    border-left: 10px solid rgb(18, 226, 136);
    display: flex;
    justify-content: center;
    align-items: center;
 
    margin: auto;
    
}
.circul h2{
    font-size: 50px;
}
.content-box{
    height: 330px;
    width: 280px;
    background-color: #21aac2;
    margin-top: 10px;
    padding: 10px;  
    border-radius: 20px;
}
.arrow{
    display: flex;
    justify-content: center;
    font-size: 25px;
   
}
.inside-Humidity{
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin-top: 15px;
}







